# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/.idea/.gitignore
/.idea/Code.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/Pool.txt
/.idea/inspectionProfiles/profiles_settings.xml
/Times_per_instance_CPPL.txt
/.idea/vcs.xml
/.idea/watcherTasks.xml
/contender_pool.json
/.vscode/launch.json
.idea/CPPL.iml
.idea/codeStyles/codeStyleConfig.xml
testing.ipynb
singularity/compile_env.sh
singularity/pbcppl.def
singularity/pbcppl.sif

contender_pool/contender_0
contender_pool/contender_1
contender_pool/contender_2
contender_pool/contender_3
contender_pool/contender_4
contender_pool/contender_5
contender_pool/contender_6
contender_pool/contender_7
contender_pool/contender_8
contender_pool/contender_9
contender_pool/contender_10
contender_pool/contender_11
contender_pool/contender_12
contender_pool/contender_13
contender_pool/contender_14
contender_pool/contender_15
contender_pool/contender_16
contender_pool/contender_17
contender_pool/contender_18
contender_pool/contender_19
contender_pool/contender_20
contender_pool/contender_21
contender_pool/contender_22
contender_pool/contender_23
contender_pool/contender_24
contender_pool/contender_25
contender_pool/contender_26
contender_pool/contender_27
contender_pool/contender_28
contender_pool/contender_29

SWGCP_only_8/SWlin2006.15100.cnf
SWGCP_only_8/SWlin2006.15101.cnf
SWGCP_only_8/SWlin2006.15102.cnf
SWGCP_only_8/SWlin2006.15103.cnf
SWGCP_only_8/SWlin2006.15104.cnf
SWGCP_only_8/SWlin2006.15105.cnf
SWGCP_only_8/SWlin2006.15106.cnf
SWGCP_only_8/SWlin2006.15107.cnf
copy_to_pc2_sshivam.sh
env_setup_pipenv.sh
